/*
-   JavaSolution
-   https://github.com/MayankDevil/
-   Developed by Mayank
-   CSS : ./css/style.css
*/
*{
    user-select: none;
    margin:0;
    padding: 0;
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji";
    color:var(--gary);
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}
:root
{
    --white: #fffbfb;
    --black:#000000;
    --blue:#17a2b8;
    --red:#fc5c65;
    --green:#16a085;
    --gold:#ffbe76;
    --dark:#343a40;
    --light:#f8f9fa;
    --gray:#6c757d;
}
::-webkit-scrollbar
{
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    background: var(--dark);
}
::placeholder
{
    color:var(--red);
}
::selection
{
    color:var(--light);
    background: var(--red);
}
/*
    comman css -----------------
*/
.container
{
    max-width: 1200px;
    margin: 0 auto;
}
h1
{
    padding: 1rem 0;
    color: var(--black);
    font-weight: normal;
    line-height: 2.5rem;
}
h2
{
    padding: 1rem;
    font-weight: normal;
    color: var(--black);
}
h3
{
    padding: 1rem;
    font-weight: normal;
}
p
{
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color:var(--dark);
}
img
{
    width: 100%;
    height: auto;
    padding: 1rem;
    object-fit: contain;
}
.btn
{
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    color: var(--light);
    background: var(--red);
    border-radius: 1rem;
}
.btn:hover
{
    opacity: 0.9;
    box-shadow: 1px 1px 5px var(--gray);
}
/*
    header css ------------------
*/
#header
{
    margin: 3rem auto;
}
#header > .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
#header .container #brand-name
{
    font-size: 1.2rem;
    font-weight: bold;
    color:var(--dark)
}
#header .container #nav a
{
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color:var(--blue);
}
#header .container #nav a:hover
{
    color:var(--red);
}
/*
    introduction css --------------
*/
#intro
{
    margin: 3rem auto;
}
#intro > .container
{
    padding: 1rem 2rem;
    background: var(--gold);
    border-radius: 1rem;
    box-shadow: 1px 1px 5px var(--gray);
}
#intro .container .row
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#intro .container .row .col:first-child
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#intro .container .row .col:last-child
{
    background: var(--gold) url(../data/connection.png) no-repeat;
    background-size: cover;
    background-blend-mode:luminosity;
}
#intro .container .row .col:first-child .btn
{
    margin:2rem 0;
}
/*
    feature css ----------------------
*/
#feature
{
    margin: 3rem auto;
    background: var(--light);
}
#feature > .container
{
    padding: 1rem;
    border-radius: 1rem;
}
#feature .container .row
{
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
}
#feature .container .row .col-4
{
    padding: 1rem;
    border:3px solid var(--green);
    border-radius: 1rem;
}
#feature .container .row .col-4:hover
{
    box-shadow: 2px 2px 10px var(--gray);
}
/*
    about css ------------------------
*/
#about
{
    margin:3rem auto;
}
#about .container .row
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
#about .container .row .col:last-child
{
    padding: 1rem;
    border-left: 1px dotted var(--blue);
}
#about .container .row .col .btn
{
    margin: 1rem;
}
/*
    search css -----------------------
*/
#search
{
    padding: 1rem;
    background:var(--black);
}
#search > .container
{
    width: 100%;
    margin:1rem auto;
}
#search #bar
{
    width: 100%;
    padding:1rem 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--blue);
    background:transparent;
    border: 1px groove var(--red);
    border-radius: 2rem;
}
#search #pointer
{
    padding: 1rem;
    color:var(--red);
    font-weight: bold;
    background: transparent;
    border-radius:  1rem 0 0 1rem;
}
/*
    content css ----------------------
*/
#content
{
    margin: 3rem auto;
}
#content .container details
{
    margin: 1rem auto;
    background: var(--light);
}
#content .container details:hover
{
    box-shadow: 1px 1px 5px var(--dark);
}
#content .container details summary
{
    padding: 1rem;
    line-height: 1.5rem;
    background:var(--gold);
}
#content .container details summary div
{
    padding: 1rem 0;
}
#content .container details div .console
{
    user-select: text;
    margin: 2rem 1rem;
    /* font-size: 14px; */
    /* font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
    color: var(--black);
}
#content .container details div .output
{
    padding: 1rem;
    line-height: 2rem;
    color:var(--red);
}
/*
    footer css -----------------------
*/
#footer
{
    margin: 3rem auto;
}
#footer > .container
{
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    color:var(--black);
    border-top: 1px dotted var(--gray);
}
#footer .brand-name
{
    /* font-weight: bold; */
    font-size: 1.2rem;
    color: var(--blue);
}
#footer .author
{
    font-weight: 600;
    color:var(--red);
}
/*
    [ RESPONSIVE ] ===================
*/
@media screen and (max-width:1200px)
{
    .container
    {
        padding: 0 2rem;
    }
    #header > .container
    {
        padding: 1rem 2rem;
    }
    #intro > .container
    {
        margin: 0 1rem;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 1px 1px 5px var(--gray);
    }
}
@media screen and (max-width:885px)
{
    .container
    {
        padding: 0 2rem;
    }
    h1
    {
        color: var(--black);
        line-height: 3rem;
        text-shadow: 1px 1px 5px vr(--light);
    }
    #intro > .container
    {
        padding: 1rem;
        background: var(--gold) url(../data/connection.png) no-repeat;
        background-size: -50% 100%;
        background-blend-mode:luminosity;
    }
    #intro .container .row
    {
        display: grid;
        grid-template-columns:1fr;
        padding: 1rem;
    }
    #intro .container .row .col:last-child
    {
        display: none;
    }
    #feature .container .row
    {
        grid-gap:2rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }
    #about .container .row
    {
        grid-template-columns: 1fr;
    }
    #about .container .row .col:first-child
    {
        height: 80%;
    }
    #about .container .row .col:last-child
    {
        border-left: 3px dotted var(--blue);
        grid-row:1/2;
        padding: 0;
    }
    #content .container
    {
        padding:0 1rem;
    }
}
@media screen and (max-width:600px)
{
    #header
    {
        margin: 1rem auto;
    }
    #header > .container
    {
        display: grid;
        padding: 0 1rem;
    }
    #header .container #brand-name
    {
        width: 100%;
        padding: 1rem;
    }
    #header .container #nav
    {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        text-align: right;
    }
    #intro .container .row
    {
        padding: 1rem 0;
    }
    #feature .container .row
    {
        padding: 1rem 0;
    }
    #about .container .row .col:last-child
    {
        grid-row:2/3;
    }
    #search > .container
    {
        padding: 0 1rem;
    }
    #content .container
    {
        padding:0 10px;
    }
    #footer > .container
    {
        padding: 0 2rem;
        text-align: left;
        border:none;
    }   
}
/*
    the end ==========================
*/